---
layout: home
title: Categories
description: "An archive of posts sorted by category."
comments: false
hideHomeActive: true
---

<ul class="entry-meta inline-list">
  {% assign cats_list = site.categories | map: 'first' | sort %}
  {% for cat in cats_list %}
  <li>
    <a href="#{{ cat }}" class="tag">
      <span class="term">{{ cat }}</span>
      <span class="count">{{ site.categories[cat].size }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% for cat in cats_list %}
<span class="anchor-bookmark" id="{{ cat }}"></span>
<article>
  <h2 class="tag-heading">{{ cat }}</h2>
  <ul class="tag-list">
    {% for post in site.categories[cat] %}
    {% if post.title and post.hide != true %}
    <li class="entry-title">
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
        <span class="tag-time">【{{ post.date | date: "%Y-%m-%d" }}】</span>{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</article>
{% endfor %}
