---
layout: home
title: "Be yourself and don't go with the flow."
comments: false
---

{% for post in paginator.posts %}
{% if post.hide != true %}
<a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" class="header-href">
  <article class="hentry">
    <h1 class="entry-title">
      {{post.title }}
    </h1>
    <div class="entry-content">
      <span class="index-content-time">【{{ post.date | date: "%Y-%m-%d" }}】</span>{{ post.summary }}
    </div>
  </article>
</a>
{% endif %}
{% endfor %}
{% include pagination.html %}
