<!-- Smart Language Switch -->
{% if page.collection == 'posts' or page.collection == 'posts_en' %}
{% comment %} We're on a post page {% endcomment %}
{% assign current_filename = page.path | split: '/' | last %}

{% if page.collection == 'posts' %}
{% comment %} Currently viewing Chinese post, find English version {% endcomment %}
{% assign target_post = site.posts_en | where_exp: "item", "item.path contains current_filename" | first %}
{% if target_post %}
{% assign switch_url = target_post.url %}
{% else %}
{% assign switch_url = '/en/' %}
{% endif %}
<li class="header-item language-item">
  <a href="{{ switch_url }}" class="language-switch" aria-label="Switch to English">En</a>
</li>
{% else %}
{% comment %} Currently viewing English post, find Chinese version {% endcomment %}
{% assign target_post = site.posts | where_exp: "item", "item.path contains current_filename" | first %}
{% if target_post %}
{% assign switch_url = target_post.url %}
{% else %}
{% assign switch_url = '/' %}
{% endif %}
<li class="header-item language-item">
  <a href="{{ switch_url }}" class="language-switch" aria-label="Switch to Chinese">中</a>
</li>
{% endif %}
{% else %}
{% comment %} Not on a post page, use simple homepage links {% endcomment %}
{% if page.url contains '/en/' %}
<li class="header-item language-item">
  <a href="/" class="language-switch" aria-label="Switch to Chinese">中</a>
</li>
{% else %}
<li class="header-item language-item">
  <a href="/en/" class="language-switch" aria-label="Switch to English">En</a>
</li>
{% endif %}
{% endif %}