{% if page.comments != false %}
<div class="giscus-container">
  <script src="https://giscus.app/client.js" data-repo="{{site.repo}}" data-repo-id="MDEwOlJlcG9zaXRvcnkzMDE4NDU1NQ=="
    data-category="General" data-category-id="DIC_kwDOAcyUa84CSbZ-" data-mapping="specific" data-strict="0"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom"
    data-term="{{ page.path | split: '/' | last | replace: '.md', '' }}"
    data-lang="{% assign current_lang = page.lang | default: site.lang %}{% if current_lang == 'en-US' or current_lang == 'en' %}en{% else %}zh-CN{% endif %}"
    data-theme="{{ site.url }}/css/comment.css" crossorigin="anonymous" async></script>
</div>
{% endif %}