<head>
  <meta charset="utf-8">
  <title>{% if page.layout =='post' or page.hideHomeActive or page.is404 %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description"
        content="{{ site.description }}{% if page.categories %}{{ page.categories }}{% endif %}{% if page.summary %}{{ page.summary }}{% endif %}">
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}

  <!-- Open Graph -->
  <meta property="og:locale" content="{{ site.locale }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - Tw93{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description"
        content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
    <link rel="stylesheet" href="https://gw.alipayobjects.com/os/k/webfont/style.css" async>


{% if page.layout == "post" %}
<meta name="twitter:creator" content="@hiTw93">
<meta name="twitter:site" content="{{ site.url }}" />
<meta name="twitter:url" content="{{ site.url }}{{page.url}}" />
<meta name="twitter:title" content="{{ page.title }} - Tw93" />
<meta name="twitter:description" content="{{page.summary}}" />
{% if page.feature %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ page.feature }}" />
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://gw.alicdn.com/imgextra/i3/O1CN01cSkdn72AKKBDPm829_!!6000000008184-2-tps-2664-2664.png" />
{% endif %}
{% endif %}

  {% if site.baidu_verify %}
  <meta name="baidu-site-verification" content="{{site.baidu_verify}}"/>
  {% endif %}

  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">
  {% endif %}

  {% if page.feature %}
  <meta property="og:image" content="{{ page.feature }}">
  {% else %}
  <meta
  property="og:image"
  content="https://gw.alicdn.com/imgextra/i1/O1CN016ppOn21DVGJ1mVHho_!!6000000000221-0-tps-420-420.jpg"
 />
  {% endif %}


  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url |
  remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />

  <link rel="stylesheet" href="{{ site.url }}/css/index.css">

  <meta http-equiv="cleartype" content="on">

  <link rel="shortcut icon" href="https://gw.alipayobjects.com/zos/k/h9/1.png">

  {% if page.layout == "post" %}
  <script src="//gw.alipayobjects.com/os/k/tw93/lazysizes.min.js" async></script>
  {% endif %}

  {% if page.comments != false %}
  <script src="//gw.alipayobjects.com/os/k/tw/gitalk.min.js" async></script>
  {% endif %}
</head>
