{% assign homeActive = 'active' %}
{% if page.hideHomeActive %}
{% assign homeActive = nil %}
{% endif %}
<div class="header-menu header-menu-top" id="J_header">
  <ul class="header-item-container">
    <li class="header-item-title {{homeActive}}">
      <a href="{{site.url}}/" class="title"> {{ site.title }}</a>
    </li>
    {% for menu in site.menu reversed %}

    {% assign class = nil %}
    {% if (page.url contains menu.url and menu.url != '/') %}
    {% assign class = 'active' %}
    {% endif %}

    {% if menu.url contains 'http://' or menu.url contains 'https://' %}
    <li class="header-item {{class}}"><a href="{{menu.url}}" target="_blank">{{ menu.title }}</a></li>
    {% else %}
    <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}">{{ menu.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="entry-header">
  <div class="header-title">
    <h1>{{ page.title }}</h1>
  </div>
</div>
