{% assign homeActive = 'active' %}
{% if page.hideHomeActive %}
{% assign homeActive = nil %}
{% endif %}
<div class="header-menu" id="J_header">
  <ul class="header-item-container">
    <li class="header-item-title {{homeActive}}">
      {% if page.url contains '/en/' %}
      <a href="{{site.url}}/en" class="title"> {{ site.title }}</a>
      {% else %}
      <a href="{{site.url}}/" class="title"> {{ site.title }}</a>
      {% endif %}
    </li>

    <!-- 语言切换链接 -->
    {% if page.url contains '/en/' %}
    <li class="header-item language-switch"><a href="{{ site.url }}/"><span>🇨🇳</span> CN</span></a></li>
    {% else %}
    <li class="header-item language-switch"><a href="{{ site.url }}/en/"><span>🇬🇧</span> EN</span></a></li>
    {% endif %}

    {% for menu in site.menu reversed %}
    {% assign class = nil %}
    {% if (page.url contains menu.url and menu.url != '/') %}
    {% assign class = 'active' %}
    {% endif %}

    {% if menu.url contains 'http://' or menu.url contains 'https://' %}
    <li class="header-item {{class}}"><a href="{{menu.url}}" target="_blank">{{ menu.title }}</a></li>
    {% else %}
    {% if page.url contains '/en/' %}
    <li class="header-item {{class}}"><a href="{{site.url}}/en/{{menu.url}}">{{ menu.title }}</a></li>
    {% else %}
    <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}">{{ menu.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% assign fontSize = 36 %}
{% if page.url contains '/en/' %}
{% assign fontSize = 34 %}
{% endif %}
<div class="entry-header">
  <svg width="100%" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <path id="svg-title-path">
      <animate attributeName="d" from="m0,110 h0" to="m0,110 h1600" dur="2s" repeatCount="1" fill="freeze" begin="0s" />
    </path>
    <text font-size="{{fontSize}}" font-weight="600" fill="#ffffff" x="50%" y="50%" text-anchor="middle" word-spacing="2.0" letter-spacing="1.2">
      <textPath xlink:href="#svg-title-path">{{ page.title }}</textPath>
    </text>
  </svg>
  <canvas id="J_firework_canvas"></canvas>
</div>
