{% assign current_page = include.current_page | plus: 0 %}
{% assign total_pages = include.total_pages | plus: 0 %}

{% if total_pages > 1 %}
<div class="pagination">
  <ul class="inline-list">
    {% if current_page > 1 %}
    {% assign previous_page = current_page | minus: 1 %}
    {% if previous_page == 1 %}
    <li><a href="{{ '/en/' | relative_url }}" class="btn-arrow">&lt;</a></li>
    {% else %}
    <li><a href="{{ '/en/page' | append: previous_page | append: '/' | relative_url }}" class="btn-arrow">&lt;</a></li>
    {% endif %}
    {% endif %}

    {% if current_page == 1 %}
    <li><strong class="current-page">1</strong></li>
    {% else %}
    <li><a href="{{ '/en/' | relative_url }}">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if current_page > 5 %}
    {% assign page_start = current_page | minus: 2 %}
    <li>…</li>
    {% endif %}

    {% assign page_end = total_pages | minus: 1 %}
    {% assign pages_to_end = total_pages | minus: current_page %}
    {% if pages_to_end > 4 %}
    {% assign page_end = current_page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
    {% if index == current_page %}
    <li><strong class="current-page">{{ index }}</strong></li>
    {% else %}
    <li><a href="{{ '/en/page' | append: index | append: '/' | relative_url }}">{{ index }}</a></li>
    {% endif %}
    {% endfor %}

    {% if pages_to_end > 4 %}
    <li>…</li>
    {% endif %}

    {% if current_page == total_pages %}
    <li><strong class="current-page">{{ total_pages }}</strong></li>
    {% else %}
    <li><a href="{{ '/en/page' | append: total_pages | append: '/' | relative_url }}">{{ total_pages }}</a></li>
    {% endif %}

    {% if current_page < total_pages %}
    {% assign next_page = current_page | plus: 1 %}
    <li><a href="{{ '/en/page' | append: next_page | append: '/' | relative_url }}" class="btn-arrow">&gt;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
