<script>
  Reveal.initialize({
    width: '100%',
    height: '100%',
    controls: true,
    progress: true,
    history: true,
    transition: 'slide',
    backgroundTransition: 'none',
    center: false,
    pdfSeparateFragments: false,
    plugins: [RevealMarkdown],
    keyboard: {
      27: () => {
        console.log('esc');
      }, // do something custom when ESC is pressed
      13: 'toggleOverview', // go to the next slide when the ENTER key is pressed
    },
  });
  document.addEventListener('DOMContentLoaded', function () {
    const sections = document.getElementsByTagName('section');
    if (sections.length < 1) {
      return;
    }
    sections.forEach((item) => {
      if (item.childElementCount === 1) {
        item.classList.add('section-center');
        item.classList.add('center');
      } else {
        const option = item.clientHeight / document.body.offsetHeight;
        if (option > 0.75) {
          item.classList.add('section-option');
        }
      }
    });
  });
</script>
