{% if page.previous.url and site.related_posts.size > 0 and page.previous.hide !=true%}
<a class="read-more" href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.url.title }}">
  <div class="read-more-header">
    <div class="read-more-btn">Read More</div>
  </div>
  <div class="read-more-content">
    <h3>{{ page.previous.title}}</h3>
    <p>【{{ page.previous.date | date: "%Y-%m-%d" }}】{% if page.previous.summary %}{{ page.previous.summary }}{% endif %}</p>
  </div>
</a>
{% endif %}
