body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $body-color;
  overflow-x: hidden;
}

// Main
// --------------------------------------------------
.entry,
.hentry {
  @include clearfix;
  h1, h2, h3, h4, h5, h6, p, li {
    word-wrap: break-word;
  }
}

.body-title {
  display: block;
}

.entry-content {
  @include font-size(16);
  position: relative;
  word-wrap: break-word;
  .page-info {
    color: rgba(85, 85, 85, 0.8);
    @include font-size(14);
    font-weight: normal;
    margin: -5px 2px 0;
    time {
      margin-left: 20px;
    }
    @media #{$medium}{
      @include font-size(16);
    }
  }
  p > a,
  li > a {
    border-bottom: 1px dotted lighten($link-color, 50);
    &:hover {
      border-bottom-style: solid;
    }
  }
}

///sections
.content-header-title {
  text-align: center;
  margin: 30px 0 0;
  h1 {
    margin: 10px 20px;
    font-weight: 700;
    @include font-rem(32);
    color: lighten($base-color, 20);
    @media #{$medium} {
      @include font-rem(48);
    }
    @media #{$large} {
      @include font-rem(60);
    }
  }
  h2 {
    margin: 0;
    @include font-rem(18);
    text-transform: uppercase;
    color: lighten($base-color, 40);
    @media #{$medium} {
      @include font-rem(24);
    }
  }
  p {
    color: lighten($base-color, 20);
  }
}

// Feature Image Caption
.image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  max-width: 440px;
  padding: 10px 15px;
  background-color: rgba($base-color, 0.5);
  color: $white;
  @include font-rem(12);
  text-align: right;
  @include border-radius(3px, 0, 0, 3px);
  z-index: 10;
  @media #{$medium} {
    max-width: 760px;
  }
  @media #{$large} {
    max-width: 960px;
  }
  a {
    color: $white;
    text-decoration: none;
  }
}

// Single Post and Page
// --------------------------------------------------
.entry-meta {
  @include font-rem(12);
  margin-left: 10px;
  color: lighten($base-color, 60);
  a {
    color: lighten($base-color, 60);
  }
  .tag {
    display: inline-block;
    margin: 4px;
    color: $white;
    @include rounded(3px);
    background-color: lighten($base-color, 50);
    span {
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: lighten($base-color, 40);
      @include border-radius(3px, 3px, 0, 0);
    }
    &:hover {
      background-color: lighten($base-color, 40);
    }
  }
}

#post,
#page {
  .entry-content {
    margin: 80px 2px 20px 2px;
    padding: 10px 15px;
    background-color: $white;
    box-shadow: 0 0 0 0, 0 6px 12px rgba($black, 0.1);
    @include rounded(3px);
    @media #{$medium} {
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px 30px;
    }
    @media #{$large} {
      max-width: 800px;
      margin: 30px auto 30px auto;
      padding: 50px 80px;
      > p:first-child {
        @include font-size(20);
      }
    }
  }
  #disqus_thread {
    margin: 20px 2px;
    padding: 10px 15px;
    background-color: $white;
    box-shadow: 0 0 0 1px rgba($border-color, 0.1), 0 6px 12px rgba($black, 0.1);
    @include rounded(3px);
    @media #{$medium} {
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px 30px;
    }
    @media #{$large} {
      max-width: 800px;
      padding: 50px 80px;
      margin: 0 auto 30px auto;
    }
  }
  .entry-meta {
    margin: 50px 30px 30px;
    text-align: center;
  }
}

.entry-tags {
  display: block;
  margin-bottom: 6px;
}

.tag-heading,
.year-heading {
  margin-top: 0;
}

.tag-list {
  line-height: 1.6;
  .tag-time {
    display: none;
    @media #{$medium} {
      display: inline-block;
    }
  }
}

// Go to the exact location of bookmarks in tags, categories
.anchor-bookmark {
  display: block;
  height: $menu-height; /*same height as header*/
  margin-top: -$menu-height; /*same height as header*/
  visibility: hidden;
}

// Permalink icon for link post
.permalink {
  margin-right: 7px;
}

// Post Pagination Module
.pagination {
  margin: 36px 10px 0;
  text-align: center;
  ul {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  li {
    padding-left: 4px;
    padding-right: 4px;
  }
  .current-page {
    font-weight: 700;
  }
}

// Read More Module
.read-more {
  display: block;
  position: relative;
  margin: 40px 2px 20px 2px;
  padding: 40px 15px 25px;
  background-color: $white;
  box-shadow: 0 0 0 1px rgba($border-color, 0.1), 0 6px 12px rgba($black, 0.1);
  @include rounded(3px);
  @media #{$medium} {
    margin: 40px 10px 30px 10px;
    padding: 50px 40px 25px;
  }
  @media #{$large} {
    max-width: 800px;
    padding: 50px 80px;
    margin: 50px auto 30px;
  }
  text-align: center;
  @include clearfix;
}

.read-more-header {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 35px;
  .read-more-btn {
    @extend .btn;
  }
}

.read-more-content {
  @include font-size(16);
  margin-bottom: 0;
  p {
    text-align: left;
  }
  p > a,
  li > a {
    border-bottom: 1px dotted lighten($link-color, 50);
    &:hover {
      border-bottom-style: solid;
    }
  }
  h3 {
    margin: 0;
    @include font-rem(20);
    @media #{$medium} {
      @include font-rem(28);
    }
    a {
      color: $text-color;
    }
    @media #{$medium} {
      @include font-rem(36);
    }
  }
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

// Post Index
// --------------------------------------------------
#post-index {
  #main {
    margin: 80px 2px 20px 2px;
    overflow: hidden;
    @media #{$medium} {
      margin: 20px;
    }
    @media #{$large} {
      max-width: 800px;
      margin: 30px auto 0;
    }
  }
  article {
    background-color: $white;
    box-shadow: 0 0 0 0, 0 6px 12px rgba($base-color, 0.1);
    @include rounded(3px);
    margin-bottom: 20px;
    padding: 15px;
    @media #{$medium} {
      padding: 30px;
    }
    @media #{$large} {
      margin-bottom: 30px;
      padding: 30px 80px;
    }
  }
}

.entry-image-index {
  margin: -25px -15px 10px -15px;
  position: relative;
  @media #{$medium} {
    margin: -30px -30px 15px -30px;
  }
  @media #{$large} {
    margin: -50px -80px 20px -80px;
  }
  img {
    @include border-radius(3px, 0, 0, 3px); // round image corners
  }
}

// Footer
// --------------------------------------------------
.footer-wrapper {
  @include clearfix;
  margin: 14px auto 30px auto;
  text-align: center;
  color: lighten($text-color, 20);
  @media #{$medium} {
    margin: 8px auto 35px auto;
  }

  a {
    color: lighten($text-color, 20);
  }
}

// Browser Upgrade
// --------------------------------------------------
.upgrade {
  padding: 10px;
  text-align: center;
}

// Google Search
// --------------------------------------------------
#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

#goog-wm-qt {
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px 20px;
  display: inline-block;
  @include font-rem(14);
  background-color: $white;
  color: $text-color;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: lighten($primary, 50);
  @include rounded(3px);
}

#goog-wm-sb {
  @extend .btn;
}

// Header
.entry-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 260px;
  background: $header-color;
  display: none;
  svg {
    margin-top: 60px;
  }
  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
  @media #{$medium} {
    display: block;
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  overflow: hidden;
  background-color: $menu-top;
  height: $menu-height;
  box-shadow: 0 0 0 0, 0 6px 12px rgba($black, 0.1);
  @media #{$medium} {
    position: fixed;
    @include transition(0.3s height ease-out);
  }
  ul {
    margin: 0 auto;
    list-style-type: none;
    height: 100%;
    padding: 0;
    @media #{$large} {
      max-width: 900px;
    }
  }
}

.header-menu-overflow {
  @media #{$medium} {
    height: 0;
  }
}

.header-item,
.header-item-title {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  a {
    vertical-align: middle;
    display: table-cell;
    height: $menu-height;
    @include font-rem(16);
    box-sizing: border-box;
    font-weight: 600;
    &:visited {
      color: $text-color;
    }
  }
  &.active, &:hover {
    a {
      color: $header-active;
    }
  }
}

///sections
.logo {
  width: $menu-height;
  height: $menu-height;
  float: left;
  padding: 10px;
}

.header-item-container {
  height: 100%;
}

.header-item {
  height: 100%;
  @media #{$large} {
    display: block;
  }
}

.header-item-title {
  float: left;
  border-top-width: 0px;
  height: 100%;
  a.title {
    font-size: 1.5rem;
    padding-left: 5px;
    vertical-align: middle;
    height: $menu-height;
    @media #{$medium}{
      display: table-cell;
    }
  }
}

.header-href {
  display: block;
}

.index-content-time {
  margin-left: -6px;
}

.video-container {
  position: relative;
  padding-bottom: 75%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
