//
// Reset CSS
// Adapted from http://github.com/necolas/normalize.css
// --------------------------------------------------

*,
*:after,
*:before {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

// Base settings
// -------------------------
html {
  font-size: 100%;
}
// Focus states
a:focus {
  outline: 2px solid;
  outline-offset: 2px;
}
// Hover & Active
a:hover,
a:active {
  outline: 0;
}

// Prevents sub and sup affecting line-height in all browsers
// -------------------------
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// Blockquote
// -------------------------
blockquote {
  margin: 0;
}

// Img border in a's and image quality
// -------------------------
img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  border-radius: 6px;
}

// Full width tables
// -------------------------
table {
  width: 100%;
}

// Prevent max-width from affecting Google Maps
#map_canvas img,
.google-maps img {
  max-width: none;
}

// Forms
// -------------------------
// Font size in all browsers, margin changes, misc consistency
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
