// Selection
// --------------------------------------------------
::-moz-selection {
	background-color: #d9dde1;
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: #d9dde1;
	color: $base-color;
	text-shadow: none;
}

// Global Classes
// --------------------------------------------------
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
    margin-right: 10px;
	}
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	transition: all .2s ease;
}
