// Body
// --------------------------------------------------
body {
  font-family: $base-font;
  color: $text-color;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

// Headings
// --------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}
h1 {
  margin: 8px 0 12px;
  @media #{$medium} {
    font-size: 30px;
  }
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #f2f3f4;
}

td,
th {
  padding: 6px;
  text-align: left;
}

.text-table td, .text-table th{
  padding: 6px 16px;
}

.text-table, th{
  text-align: left;
}

// Links
// --------------------------------------------------
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: darken($link-color, 20);
  }
  &:focus {
    outline: 2px solid;
    color: darken($link-color, 20);
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

.link-arrow {
  font-weight: 100;
  text-decoration: underline;
  font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.3;
  color: lighten($text-color, 10);
}

// Note text
// --------------------------------------------------
.notice {
  margin-top: 1.5em;
  padding: 0.5em 1em;
  text-indent: 0;
  font-size: 15px;
  background-color: $body-color;
  border: 1px solid darken($body-color, 20);
  border-radius: 3px;
}

// Blockquotes
// --------------------------------------------------
blockquote {
  font-style: normal;
  border-left: 4px solid $border-color;
  padding-left: 12px;
}

// List items
// --------------------------------------------------
.entry-content li {
  margin-bottom: 7px;
}

// Footnotes
// --------------------------------------------------
.entry-content .footnotes {
  ol,
  li,
  p {
    font-size: 17px;
  }
}

// Code
// --------------------------------------------------
tt,
code,
kbd,
samp,
pre {
  font-family: $code-font;
}
p,
li {
  code {
    font-size: 17px;
    line-height: 1.5;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid lighten($black, 90);
    background-color: lighten($black, 95);
    border-radius: 3px;
  }
}
pre {
  font-size: 17px;
  line-height: 1.5;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 12px;
    background-color: #34362e;
    border-radius: 0 0 4px 4px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: #6a6d5d;
    border-radius: 4px;
  }
}
