// Typography
// --------------------------------------------------
$base-font: "TsangerJinKai02", "STKaiti", "KaiTi", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji";
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: $base-font;
$alt-font: serif;

$doc-font-size: 15;
$doc-line-height: 27.2;

// set-up the body font-size / line-height
body {
  font-size: #{$doc-font-size}px;
  font-display: swap;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Colors
// --------------------------------------------------
$base-color: #24292f;
$header-color: #15141a;
$header-active: #15141a;
$menu-top: white;
$menu-height: 60px;
$menu-overflow: #24292f;
$body-color: #e8e8e8;
$text-color: rgba(#24292f, 0.9);
$comp-color: #d0d6db;
$border-color: #c9ced4;
$white: #fff;
$black: #000;
$link-color: rgba(#24292f, 0.8);

$primary: #24292f;
$success: #5cb85c;
$warning: #dd8338;
$danger: #c64537;
$info: #308cbc;
$border-radius: 8px;

// Screen Size
// --------------------------------------------------
$small: "only screen and (min-width: 30em)";
$medium: "only screen and (min-width: 48em)";
$large: "only screen and (min-width: 62.5em)";
