// Typography
// --------------------------------------------------

$base-font: 'LXGW WenKai Lite', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;

// set-up the body font-size / line-height
body {
  font-size: 0px + $doc-font-size;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

// Colors
// --------------------------------------------------
$base-color: rgba(#111, 0.8);
$header-color: #000;
$header-active: #000;
$menu-top: white;
$menu-height: 60px;
$menu-overflow: #000;
$body-color: #e8e8e8;
$text-color: rgba(#111, 0.9);
$comp-color: complement(#111);
$border-color: lighten(#111, 60);
$white: #fff;
$black: #000;
$link-color: rgba(#111, 0.8);

$primary: #111;
$success: #5cb85c;
$warning: #dd8338;
$danger: #C64537;
$info: #308cbc;

// Screen Size
// --------------------------------------------------

$small: "only screen and (min-width: 30em)";
$medium: "only screen and (min-width: 48em)";
$large: "only screen and (min-width: 62.5em)";
