<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
</head>

<body id="page">

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
    <article class="hentry">
        <div class="entry-content">
            {{ content }}
        </div>
        {% if page.comments != false and site.disqus_shortname %}
        <section id="disqus_thread">Disqus评论正在推倒墙......</section>
        {% endif %}
    </article>
</div>

{% include scripts.html %}

<div class="footer-wrapper">
    <footer role="contentinfo">
        {% include footer.html %}
    </footer>
</div>

</body>
</html>
