<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}

<body id="post" {% if page.image.feature %}class="feature" {% endif %}>

{% include header.html %}

<div id="main" role="main">
  <article class="hentry">
    <div class="entry-content">

      {% if page.image.feature %}
      <div class="entry-image-index">
        <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
        {% if page.image.credit %}
        <div class="image-credit">Image source:
          <a target="_blank" href="{{ page.image.creditlink }}">{{page.image.credit }}</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <h1 class="post-title entry-title">{{ page.title }}</h1>

      <h4 class="page-info">
        <span>Categories:&nbsp;&nbsp;{{page.categories}}</span>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
      </h4>
      {{ content }}
    </div>
    {% if page.comments != false and site.disqus_shortname %}
    <section id="disqus_thread">Disqus评论正在推倒墙......</section>
    {% endif %}

    {% if site.related_posts.size > 0 %}
    {% include read-more.html %}
    {% endif %}
  </article>
</div>

{% include footer.html %}

</body>
</html>
